body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #d4d4fa;
}

/*flex-box*/
.container-geral {
    display: flex; /*inicia o flexbox*/
    flex-direction: column; /*colocar os itens do box em linha*/
    gap: 20px; /* espacamento entre os itens */
}

.container-header {
    display: flex;
    flex: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #e5e5e5;
}

.header-img { 
    max-height: 200px;
    display: block;

}


.container-principal {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.container-receitas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /*joga os itens para baixo*/
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 20px;
}

.receita-card {
    flex: 1 0 24%;
    flex-shrink: 0; /* Impede que os itens encolham */
    box-sizing: border-box;
    text-align: center;
    border: 1px #ccc;
    border-radius: 10px;
    padding: 5px; /*espaço entre o card e a imagem*/
    background: linear-gradient(transparent 35%, #191919 100%);
}

.receita-card h3 {
    margin-top: 10px;
    font-size: 20px;
    color: #ffffff;
}

.receita-card:hover {
    transform: scale(1.05);
}

.receita-card img {
    max-width: 100%;
    border-radius: 10px;
}

.container-esquerda {
    display: flex;
    flex: 1;
    flex-grow: 2;
    background-color: #f1f1f1;
    border-radius: 10px;
    max-height: 300px;
    max-width: 450px;
    margin-left: 20px;
}

.container-menu {
    display: flex;
    flex-direction: column;
}

.container-menu img{
    border-radius: 10px;
    align-content:flex-start;
    order:0;
    max-width: 450px;
}

.container-menu-lista{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    order:1;
    margin-left: 20px;
}

.back{
    display: flex;
}

.categoria{
    display:flex;
    margin: 0;
}

.categoria ul {
    list-style: none;
    padding: 0;
}

.categoria li {
    margin-bottom: 10px;
}

.categoria a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    font-size: 18px;
}

.container-menu-lista:hover {
    transform: scale(1.05);
}

/*PAGINAS RECEITA*/
.container-ingredientes {
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
    align-items: stretch;
    margin-right: 20px;
}

.receita{
    display:flex;
    flex-direction: row;
}

.Receita-ingredientes h1{
    font-size: 45px;
    color: #FE5473;
}
    
.container-receitaimg{
    display:flex;
    flex-direction: column;
    margin-left: 20px;
    border-radius: 10px;
    margin-top: 40px;
}

.container-ingredientes h3 {
    color: #FE5473;
}

.Receita-ingredientes {
    border-radius: 10px; 
    margin-left: 20px;
    margin-right: 20px; 
    text-align: justify; 
}

.receita-ingredientes ul {
    text-align: justify;
}

/*BOTÃO VOLTAR*/

.botao{
    display: flex;
    margin-top: 20px;
    align-self: center; /*alinha IMAGEM*/
}

.botao img{
    border-radius: 10px;
    height: 38px;
    width: 99px;
}

.botao:hover {
    transform: scale(1.05);
}

/* pagina categoria*/


.lista-receitas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /*joga os itens para baixo*/
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 20px;
}


.lista-receita-card {
    flex: 1 0 15%;
    flex-shrink: 0; /* Impede que os itens encolham */
    box-sizing: border-box;
    text-align: center;
    border: 1px #ccc;
    border-radius: 10px;
    padding: 5px; /*espaço entre o card e a imagem*/
    background: linear-gradient(transparent 35%, #191919 100%);
}

.lista-receita-card h3 {
    margin-top: 10px;
    font-size: 20px;
    color: #ffffff;
}

.lista-receita-card:hover {
    transform: scale(1.05);
}

.lista-receita-card img {
    max-width: 100%;
    border-radius: 10px;
}

/*
.see-more {
    float: left;
    position:auto;
    text-align: center;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 280px;
    height: 187px;
    margin-left: 35px;
   margin-top: -313px;
}

.see-more a {
    font-size: 18px;
}

.see-more-img {
    float: left;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 21px;
}

.see-more:hover {
    transform: scale(1.05);
}




/*


*/