body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #d4d4fa;
}

/*flex-box*/

.container-geral {
    display: flex; /*inicia o flexbox*/
    flex-direction: column; /*colocar os itens do box em linha*/
    gap: 20px; /* espacamento entre os itens */
}

.container-header {
    display: flex;
    flex: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #e5e5e5;
}

.header-img { 
    max-height: 200px;
    display: block;

}

.container-principal {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.container-receitas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /*joga os itens para baixo*/
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 20px;

}

.receita-card {
    flex: 1 0 24%;
    flex-shrink: 0; /* Impede que os itens encolham */
    box-sizing: border-box;
    text-align: center;
    border: 1px #ccc;
    border-radius: 10px;
    padding: 5px; /*espaço entre o card e a imagem*/
    background: linear-gradient(transparent 35%, #191919 100%);
}

.receita-card h3 {
    margin-top: 10px;
    font-size: 20px;
    color: #ffffff;
}

.receita-card:hover {
    transform: scale(1.05);
}

.receita-card img {
    max-width: 100%;
    border-radius: 10px;
}

.container-esquerda {
    display: flex;
    flex: 1;
    flex-grow: 2;
    background-color: #f1f1f1;
    border-radius: 10px;
    max-height: 300px;
    max-width: 450px;
    margin-left: 20px;
}

.container-menu {
    display: flex;
    flex-direction: column;
}

.container-menu img{
    border-radius: 10px;
    align-content:flex-start;
    order:0;
    max-width: 450px;

}

.container-menu-lista{
    display: flex;
    flex-wrap: nowrap;
    order:1;
    margin-left: 20px;
}

.container-menu-lista ul {
    list-style: none;
    padding: 0;
}

.container-menu-lista li {
    margin-bottom: 10px;
}

.container-menu-lista a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
}





/*
.see-more {
    float: left;
    position:auto;
    text-align: center;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 280px;
    height: 187px;
    margin-left: 35px;
   margin-top: -313px;
}

.see-more a {
    font-size: 18px;
}

.see-more-img {
    float: left;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 21px;
}

.see-more:hover {
    transform: scale(1.05);
}
.container {
    width: 75%;
    margin: 0 auto;
    margin-left: 22vw;
}



.container2 {
    width: 900px;
    min-height: 600px;
    margin: 0 auto;
    margin-left: 22vw;
    margin-bottom: 15px;
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 10px;
}


.container2 h1 {
    margin-top: 10px;
    font-size: 45px;
    color: #FE5473;
}

.container2 h3 {
    color: #FE5473;
}

.receita {
    border: 1px solid #ccc; 
    border-radius: 10px; 
    padding: 20px; 
    display: inline-block; /* Mantém o tamanho conforme o conteúdo 
}

.container2 img{
    float: left;
    border-radius: 10px;
    height: 250px;
    margin-left:40px;
}

.botao{
    float: left; 
    margin-left:40px;
    margin-top: 170px;

}
.botao img{
    border-radius: 10px;
    height: 38px;
    width: 99px;
    margin-left: 0;
}

.botao:hover {
    transform: scale(1.05);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: justify;
}

/*


*/