body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #d4d4fa;
}

/*flex-box*/
.container-geral {
    display: flex;
    /*inicia o flexbox*/
    flex-direction: column;
    /*colocar os itens do box em linha*/
    gap: 20px;
    /* espacamento entre os itens */
    flex-wrap: wrap;
    /*ajusta o item dinamicamente*/
}

.container-header {
    display: flex;
    flex: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #e5e5e5;
}

.header-img {
    display: block;
    max-width: 100%;

}

.container-principal {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.container-receitas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*joga os itens para baixo*/
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 2rem;
}

.receita-card {
    flex: 1 0 24%;
    flex-shrink: 0;
    /* Impede que os itens encolham */
    box-sizing: border-box;
    text-align: center;
    border: 1px #ccc;
    border-radius: 10px;
    padding: 5px;
    /*espaÃ§o entre o card e a imagem*/
    background: linear-gradient(transparent 35%, #191919 100%);
}

.receita-card h3 {
    margin-top: 10px;
    font-size: 20px;
    color: #ffffff;
}

.receita-card:hover {
    transform: scale(1.05);
}

.receita-card img {
    max-width: 100%;
    border-radius: 10px;
}

.busca {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background-color: #f1f1f1;
    justify-content: center;    
    align-items: center;
}

#campo-busca {
    font-size: 1.2em;
    width: 12em;

}

.botao-busca {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    align-items: justify;
    justify-content: center;
}

.busca img {
    border-radius: 10px;
    order: 0;
    max-width: 175px;
}

#resultado-busca img {
    border-radius: 10px;
    max-width: 100%;
}

.container-esquerda {   /*main*/
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 50%;
    flex-direction: row;
    flex: 1;
    flex-grow: 2;
    border-radius: 10px;
    margin-left: 1rem;
}

.container-menu {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.container-menu-img{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    justify-content: center;
    background-color: #f1f1f1;
    align-items: center; /*centraliza horizontalmente*/
}

.container-menu img {
    border-radius: 10px;
    align-content: flex-start;
    order: 0;
    max-width: 450px;
}

.container-menu-lista {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    order: 1;
}

.categoria {
    display: flex;
    border-radius: 10px;
    margin: 0;
}

.categoria ul {
    list-style: none;

}



.categoria li {
    margin-bottom: 10px;
    color: #333333;
    font-weight: bold;
    font-size: 18px;
}

.categoria a {

    text-decoration: none;
    /*pra nao ficar aparecendo linha azul*/
    cursor: pointer;
    color: #191919;
}

a:visited {
    color: #000;
    /* Define a cor dos links visitados para preto */
}

.back {
    background-color: #f1f1f1;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

#resultado-busca {
    display: flex;
    width: 70rem;
}

/*PAGINAS RECEITA*/
.container-ingredientes {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
    align-items: stretch;
    margin-left: 2rem;
    margin-right: 2rem;

}

.receita {
    display: flex;
    flex-direction: row;
    margin-right: 1rem;
    margin-bottom: 2rem;
    border-radius: 10%;
}

.container-receitaimg {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    margin-left: 2rem;
    border-radius: 10px;
    margin-top: 40px;
    align-items: center;
    /* Adicionado para centralizar horizontalmente */
}

.container-receitaimg img {
    border-radius: 10px;
    width: 500px;
    height: 400px;
}

.Receita-ingredientes h1 {
    font-size: 40px;
    color: #FE5473;
}

.container-ingredientes h2 {
    color: #FE5473;
    font-size: 30px;
}

hr {
    margin-top: -1.5rem;
    /* Ajuste a margem conforme necessÃ¡rio */
}

.container-ingredientes h3 {
    color: #FE5473;
}

.Receita-ingredientes {
    margin-left: 1rem;
    margin-right: 7rem;
    text-align: justify;
}

.receita-ingredientes ul {
    text-align: justify;
}

/*BOTÃƒO VOLTAR*/

.botao {
    display: flex;
    margin-top: 20px;
    align-self: center;
    /*alinha IMAGEM*/
    margin-bottom: 1rem;
}


.botao img {
    border-radius: 10px;
    height: 38px;
    width: 99px;
}

/* pagina categoria*/
.lista-receitas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*joga os itens para baixo*/
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 2rem;
}

.lista-receita-card {
    flex: 1 0 15%;
    flex-shrink: 0;
    /* Impede que os itens encolham */
    box-sizing: border-box;
    text-align: center;
    border: 1px #ccc;
    border-radius: 10px;
    padding: 5px;
    /*espaÃ§o entre o card e a imagem*/
    background: linear-gradient(transparent 35%, #191919 100%);
}

.lista-receita-card h3 {
    margin-top: 10px;
    font-size: 20px;
    color: #ffffff;
}

.lista-receita-card:hover {
    transform: scale(1.05);
}

.lista-receita-card img {
    max-width: 100%;
    border-radius: 10px;
}

/*----------------------------------------*/

/*RESPONSIVIDADE*/

@media screen and (max-width: 1080px) {
    body {
        zoom: 50%;
    }

    .container-geral {
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex-wrap: wrap;
        align-items: center;
        /* Adicionado para centralizar verticalmente */
    }

    .busca img {
        margin-top: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }


    .container-header {
        margin-top: 1rem;
        display: flex;
        flex: auto;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: #e5e5e5;
    }

    .header-img {
        max-width: 100%;
        /* Define a largura máxima como 100% */
        height: auto;
        /* Mantém a proporção da imagem */
    }


    .categoria {        
        max-width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        background-color: #f1f1f1;
        border-radius: 10px;
    }

    .container-principal {
        flex-direction: column;
    }

    .container-esquerda {
        flex-direction: row;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .container-menu img {
        justify-content: center;
    }

    .button img {
        margin-left: 0;
    }

    #campo-busca {
        font-size: 2em;
        width: 28rem;
    }

    .container-menu {
        flex-direction: column;
        margin-left: 0;
        margin-bottom: 2rem;
        background-color: #f1f1f1;
        border-radius: 10px;
    }

    .container-menu-img{      
        max-width: 100%;
    }

    .container-menu-lista {
        margin-left: 0;
        gap: 2rem;
        background-color: #f1f1f1;
        border-radius: 10px;
    }


    .busca {
        display: flex;
        background-color: #f1f1f1;
        justify-content: center;
        align-items: center;
    }

    .container-ingredientes {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .container-receitas {
        align-items: center;
        gap: 2rem;
        margin-right: 3rem;
        margin-left: 3rem;
        margin-top: 1rem;
    }

    .receita-card {
        flex: 1 0 40%;
    }

    .receita-card img {
        height: 300px;
        width: 400px;
    }

    /*PAG DE RECEITA*/


    .container-ingredientes {
        flex-direction: row;
        gap: 20rem;
        align-items: center;
        margin: 0;
    }

    .Receita-ingredientes {
        flex-direction: row;
        margin: 0;
        margin-left: 1REM;
        margin-right: 1REM;
        margin-bottom: 1rem;

    }

    .container-receitaimg {
        margin-right: 1 rem;
        margin-left: 1rem;
    }


    .receita img {
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .receita {
        flex-direction: column;
        margin: 0;
    }



    #resultado-busca {
        display: flex;
        width: 50rem;
        margin-left: 2rem;
    }




    .botao {
        display: flex;
        flex-direction: column;
    }

    .categoria li {
        font-size: 35px;
    }


    .categoria img {
        max-width: 100%;
        height: auto;
    }

    .back img {
        justify-content: center;
        align-items: center;
        max-width: 100%;
        height: auto;   
        margin-top: 2rem;
    }

    .container-ingredientes h1 {
        font-size: 70px;
        text-align: center;
        margin-top: 1rem;
    }

    .container-ingredientes h3 {
        font-size: 52px;
    }

    .container-ingredientes h2 {
        font-size: 35px;
    }

    .container-ingredientes li {
        font-size: 32px;
    }

    .container-ingredientes p {
        font-size: 32px;
    }


    .receita-card h3 {

        font-size: 35px;

    }
}